
* {
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

/* Reused between some components */
.reset-textarea {
  border: none;
  overflow: auto;
  outline: none;

  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;

  resize: none; /*remove the resize handle on the bottom right*/
}

/* Notion scrollbar styles */
::-webkit-scrollbar {
  background: transparent;
}
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
::-webkit-scrollbar-thumb {
  background: #D3D1CB;
}
::-webkit-scrollbar-track {
  background: #EDECE9;
}

/* https://uxmovement.substack.com/p/how-to-use-surface-elevation-to-elevate
  We base low, medium and high elevation on this essay.
*/

/* 
.ux-low-elevation {
  @extend .core-shadow;
} 

.ux-high-elevation {
  @extend .core-shadow;
  @extend .cast-shadow-max; 
} 
*/

.core-shadow {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1)
}

.cast-shadow {
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.08);
}

.cast-shadow-max {
  box-shadow: 0px 18px 36px rgba(0, 0, 0, 0.08);
}

.paper-shadow {
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.2), 1px 1px 1px 1px rgba(0, 0, 0, 0.19);
}